body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1871px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1871px;
  height:771px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5505 {
  position:absolute;
  left:0px;
  top:0px;
  width:1871px;
  height:771px;
}
#u5506 {
  position:absolute;
  left:2px;
  top:378px;
  width:1867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:572px;
}
#u5507 {
  position:absolute;
  left:44px;
  top:72px;
  width:323px;
  height:572px;
}
#u5508 {
  position:absolute;
  left:2px;
  top:278px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u5509 {
  position:absolute;
  left:277px;
  top:142px;
  width:58px;
  height:27px;
}
#u5510 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5511 {
  position:absolute;
  left:402px;
  top:144px;
  width:505px;
  height:345px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5512 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u5513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFF100;
}
#u5513 {
  position:absolute;
  left:44px;
  top:17px;
  width:264px;
  height:45px;
  color:#FFF100;
}
#u5514 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u5515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u5515 {
  position:absolute;
  left:272px;
  top:535px;
  width:69px;
  height:30px;
}
#u5516 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:572px;
}
#u5517 {
  position:absolute;
  left:1013px;
  top:92px;
  width:323px;
  height:572px;
}
#u5518 {
  position:absolute;
  left:2px;
  top:278px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u5519 {
  position:absolute;
  left:1244px;
  top:162px;
  width:58px;
  height:27px;
}
#u5520 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
